<!-- Renders course names from courses controller -->

<h1>Courses</h1>

<ul>
  <% @courses.each do |course| %>
    <li><a href="/courses/<%= course.id %>/recipes"><%= course.name %></a></li>
  <%end%>
</ul>


