<!DOCTYPE html>
<html>
<head>
  <title>LabRailsRelationships</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%> <!--loads application.js by default, which requires jquery etc (js manifest) -->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %> <!-- translates index.html, won't see anything if this is removed-->

</body>
</html>
